a {
    color: #000000;  /* Azul claro */
    text-decoration: none;  /* Remove sublinhado */
    font-weight: bold;  /* Deixa o texto em negrito */
    transition: color 1s ease-out;  /* Transição suave da cor */
}

a:hover {
    font-size: 1.2em;
    color: #000000;
    background-color: #f3a8a8;
    border-radius: 2px;
    transition: color 1s ease-out;
}
video{
    width: 70%;
    height: auto;
}
p{
    font-size: 1.2em;
    font-weight: 600;
    color: #000000;
}
